<section>
  <div class="box">
    <div class="logo">
      ALUGA
    </div>

    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="submit()" [disabled]="!loginForm.valid">Log in</button>

      <a class="register-link" routerLink="/register">Not a user? Register here</a>
    </form>
  </div>
</section>
