.list {
  display: flex;
  //justify-content: space-between;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 4px;
  padding: 10px;
  width: 197px;
  display: flex;
  flex-direction: column;

  img {
    aspect-ratio: 4 / 3;
    object-fit: contain;
  }

  button {
    margin-top: 12px;
  }
}
