<div class="search-container">
  <input matInput type="text" placeholder="Search" (input)="searchProduct($event.target.value)">
</div>

<div class="list">
  <div class="card" *ngFor="let item of products">
    <div class="img-container">
      <img [src]="item.image">
    </div>
    <div>
      {{item.productName}}
    </div>
    <div>
      Category: {{item.category}}
    </div>
    <div>
      Price: {{item.price | currency: 'ILS' }}
    </div>

    <button mat-stroked-button color="primary" (click)="goToInfo(item)">Info</button>
    <button mat-raised-button color="primary" (click)="addItemToCart(item)">I Need it!</button>
  </div>
</div>
